.ButtonSelector{padding:10px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.ButtonSelector .skill-btn{border:none;-webkit-box-shadow:none;box-shadow:none;background:#fff;width:20%;min-height:48px;margin:3px;border-radius:4px}