.name{font-size:3vw}.height{height:200px;border:1px solid #000}.my-row{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.left{text-align:left}