iframe[data-v-3d604ca3]{height:400px;width:100%!important;background:#fff;border:none}iframe[data-v-3d604ca3]::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);border-radius:10px;background-color:#f5f5f5}