.OnBoardingStep1{width:40%;margin:auto;text-align:center}.OnBoardingStep1 .q-if:before,.OnBoardingStep1 .q-if:hover:before{height:0}.OnBoardingStep1 .OnBoardingSelect{border-bottom:1px solid #000}.OnBoardingStep1 h3{text-align:center;cursor:pointer}