.label[data-v-22aab04b]{display:inline-block;width:35px;height:35px;background:#67d94a;color:#fff;border-radius:34px;padding-left:6px;padding-top:11px}.fa-check[data-v-22aab04b]{position:relative;top:-4px}