h5.title[data-v-3330e222]{font-family:Quicksand;font-style:normal;font-weight:700;line-height:21px;font-size:20px}.hacks[data-v-3330e222]{height:150px}.pointer-cursor[data-v-3330e222]{cursor:pointer}.hack-item[data-v-3330e222]{border:2px solid #c4c4c4}