.footerButton{color:#000;margin:5px}.dialogShare,.footerButton{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.shareItem{padding:12px;cursor:pointer}