.q-table[data-v-00290f40]{width:100%}.q-table tbody td[data-v-00290f40]{border-bottom:1px solid rgba(0,0,0,.071)}.q-table tbody td.centered[data-v-00290f40]{text-align:center;font-weight:700}img.db[data-v-00290f40]{border-style:none;width:18px;height:27px}