.lrgFont[data-v-d39f33cc]{font-size:24px!important}.stdFont[data-v-d39f33cc]{font-family:Quicksand;font-style:normal;font-weight:700;line-height:normal;font-size:20px;color:#000}.stdSpace[data-v-d39f33cc]{margin-top:1%;margin-left:3%}