.item[data-v-e2ec3e04]{margin-top:10px;font-family:Quicksand}.item .icon[data-v-e2ec3e04],.item[data-v-e2ec3e04]{font-style:normal;font-weight:400;line-height:normal;font-size:13px}.item .icon[data-v-e2ec3e04]{color:#0150b1}