.plug { background: url('plugs.png') no-repeat top left; width: 39px; height: 39px; display: inline-block;  } 
.plug.a { background-position: 0 0; } 
.plug.a1 { background-position: -49px 0; } 
.plug.b { background-position: -98px 0; } 
.plug.b1 { background-position: -147px 0; } 
.plug.c { background-position: -196px 0; } 
.plug.c1 { background-position: -245px 0; } 
.plug.d { background-position: -294px 0; } 
.plug.d1 { background-position: -343px 0; } 
.plug.e { background-position: -392px 0; } 
.plug.e1 { background-position: -441px 0; } 
.plug.f { background-position: -490px 0; } 
.plug.f1 { background-position: -539px 0; } 
.plug.g { background-position: -588px 0; } 
.plug.g1 { background-position: -637px 0; } 
.plug.h { background-position: -686px 0; } 
.plug.h1 { background-position: -735px 0; } 
.plug.i { background-position: -784px 0; } 
.plug.i1 { background-position: -833px 0; } 
.plug.j { background-position: -882px 0; } 
.plug.j1 { background-position: -931px 0; } 
.plug.k { background-position: -980px 0; } 
.plug.k1 { background-position: -1029px 0; } 
.plug.l { background-position: -1078px 0; } 
.plug.l1 { background-position: -1127px 0; } 
.plug.m { background-position: -1176px 0; } 
.plug.m1 { background-position: -1225px 0; } 
.plug.n { background-position: -1274px 0; } 
.plug.n1 { background-position: -1323px 0; } 